# 1. How to create new column in pandas by using values from other columns?

In [9]:
import pandas as pd #importing library
a = [1, 3, 5] # list1
b = [3, 5, 7] #lis2

a = {'col1': a, 'col2': b} # dict
df = pd.DataFrame(d)  #creating a dataframe

df['sum'] = df['col1'] + df['col2']  #logic is happening here
df['diff'] = df['col1'] - df['col2']  #logic is happening here


df

   col1  col2  sum  diff
0     1     2    3    -1
1     2     5    7    -3
2     3     6    9    -3

2. Whatare the different functions that can be used by groupby in pandas?

The groupby() function in pandas can be used with multiple aggegrate functions. some of which are sum(), cout(), std.

3. How to select columns in pandas and add them to a new DataFrame? What if there are two columns with the same name?


If df is DataFrame in pandas, df.columns gives the list of columns.
We can form new columns by selecting particular columns. 
If there are two columns with the same then the both columns get copied to the new DataFrame.

In [15]:
import pandas as pd

d = {'col1': [1, 3, 5], 'col2': [3, 5, 7], 'col3': [4, 6, 7]}  #defining column
df = pd.DataFrame(d)  #converting into dataframe
#print(df)

#selecting column and adding to the new DataFrame
New_d = pd.DataFrame() #defining empty new data frame
New_d['col1'] = d['col1']
New_d['col2'] = d['col2']
df = pd.DataFrame(New_d)
print(New_d)

   col1  col2
0     1     3
1     3     5
2     5     7

4. How to delete a column or group of columns in pandas? 

The drop() function can be used to delete the columns from a DataFrame.

In [26]:
import pandas as pd

d = {'col1': [1, 3, 5], 'col2': [3, 5, 7], 'col3': [4, 6, 7]}  #defining column
df = pd.DataFrame(d)  #converting into dataframe
#print(df)

#New_df = df.drop(['col1'], axis = 1)  # to drop column- drop used to drop column

# droping the rows that contain 7 in any columns  
New_df = df.loc[~df.isin([7]).any(axis = 1)] # isin([7]) method is used to create a Boolen data frame weather each elemenst is equla to 7 in the given data frame
New_df

   col1  col2  col3
0     1     3     4
1     3     5     6

In [36]:
# to drop the rows

import pandas as pd

d = {'col1': [1, 3, 5], 'col2': [3, 5, 7], 'col3': [4, 6, 7]}  #defining column
df = pd.DataFrame(d)  #converting into dataframe
print(df)
row_to_drop = [0,0]
df = df.drop(index = row_to_drop)
df

   col1  col2  col3
0     1     3     4
1     3     5     6
2     5     7     7

   col1  col2  col3
1     3     5     6
2     5     7     7

Q. 5 What is the reindexing in pandas

Reindexing is the process of re-assigning the index of a pandas Dataframe

In [40]:
import pandas as pd

bikes = ['bajaj', 'Ktm', "pulser", 'shine', 'honda']
cars = ['Tesla', 'suzuki', 'TATA', 'Cambri', 'ford']

d = { 'cars': cars, 'bikes': bikes}
df = pd.DataFrame(d)
df

a = [10, 20, 30, 40, 50]

df.index = a  #make sure index() don't have bracket, index is not a method, it's a attribute -represent a row label of dF
df

      cars   bikes
10   Tesla   bajaj
20  suzuki     Ktm
30    TATA  pulser
40  Cambri   shine
50    ford   honda

Q. 6 Create a lambda function which print the sum of all the elements in this list 

[5,8,10,20,50,100]

In [41]:
sum_lambda = lambda lst: print(sum(lst))

lst = [5,8,10,20,50,100]

sum_lambda(lst)

193

Q.7 What is vstack() in NumPy? Give me an example.

NumPy has very popular function called vstack(). It is a function that is used to allign rows vertically. All rows 
must have same number of elements.

In [44]:
import numpy as np
n1 = np.array([10, 20, 30, 40, 50])
n2 = np.array([10, 20, 30, 40, 50])
print(np.vstack((n1,n2)))

[[10 20 30 40 50]
 [10 20 30 40 50]]

Q 8 Why python code interpreated?

When the python program is written it converts the source souce code written by the developer into intermidiate 
langauge (IL) first. 
This is then converted to machine language (0, 1) that needs to be executed. 

Debugging can be done modularly and on a per-line basis.

Q. How to remove spaces from string in python?

Spaces can be removed from a string in python by using strip() or replace() function. 
strip function is used to remove leading and trailing white space while the replace function is used to remove all
the white space in the strings.

In [54]:
#exampel 

x = " Hello World! "
y = x.strip()
z = x.replace(' ', '')  # replaceing ' ' with '' nothing 
print(z)

HelloWorld!

Q. Explains the file processing modes that python supports?

There are four file processing modes in pythons.

read only(r), write only (w), read-write (rw), append (a).

Binary flags - ('r', 'w', 'rw', and 'a')

Q. what is pickling and unpickling?

Pickling is the process of converting a python object hirearchy into a bytes stream for sorting it into a database.
Pickling is also known as serialization. Unpickling is reverse of pickling. 
The byte stream is converted back into object hirearchy.

Q. How is memoery managed in python?

Memory managed in python comprises of a private heap contaning all the objects and data structure. 
The heap is managed by interperater and the programmer doesnot have acess to it.

The python memory does all the memory allocaion. Morever, there is inbuilt garbage collector that recycles and 
free memory for the heap space.

Q. what is the unittest in python?

Unittest is a unit testing framework in python!

In Python, unittest is a built-in library used for writing and running unit tests. Unit testing is a software
testing method where individual units or components of a program are tested in isolation to ensure that they 
work correctly and meet the expected behavior.

Q. How to delete a file in python?

Files can be deleted in python by using either of the following command:
os.remove(filename) or os.unlink(filename).

In [ ]:
import os # os is library module for operating system

file_path = "path/to/your/file.txt"

try:
    os.remove(file_path)
    print(f"File '{file_path}' deleted successfully.")
except FileNotFoundError:
    print(f"File '{file_path}' not found.")
except Exception as e:
    print(f"Error occurred while deleting the file: {e}")

Q. How do you create empty calss in python?

To create an empty class we can use the pass command after the defination of the class object. 
A pass is a statement in python that does nothing.

In [ ]:
class EmptyClass:
    pass


##############################

class EmptyClassWithDocstring:
    """
    This is an empty class with a docstring.
    """
    pass

Q. What are python decorators?

Decorators are functions that take another functions as argument to modify its behaviour without changing the function itself.
This is useful when we want to dynamically increase the functionality of a function without changing it.

Q. What does early binding mean?

Early binding is a popular concept in OOPs that is used for many purposes. 
Majorly, it is used to assign value during compile time to save a lot of time during the execution of the entire project. 

In very simple terms, early binding in Python means that when you define a variable or function, Python figures out what it represents (what it refers to) right away, before the code is actually run.

Imagine you have a box (variable) labeled "x," and you put a value of 5 inside it. When you write code like x + 3, Python knows that x represents the value 5 because it checked it when the code was defined.

Early binding is like putting labels on boxes beforehand. Python looks at the labels and knows what's inside each box without needing to open them later. This helps Python run the code faster and be more efficient.

In [ ]:
def add(a, b):   # the def function with parameters a and b 
    return a + b

x = 5
y = 10
result = add(x, y)
print(result)

In [57]:
#Q. what will be the output of the following python code?
def func():
    for x in range (22, 23, 34):
        print(x)
        
func()

22

In [58]:
my_dict = {'a':1, 'b':2, 'c': 3}
result = my_dict.get('d',0) # the d is not in the dictonary so get method will give the default value 
print(result)

0

In [60]:
class Rectangle: # the class will have methods and attributes to describe the class rectangel
    def __init__(self,width,height): # construction method of the rectangle calss
        self.width = width # width and height values are assigned to the attributes width and height of the class instance self
        self.height = height #when you create an instance of the Rectangle class, you can set the width and height values.
        
rect = Rectangle(5,3)#This line creates an instance of the Rectangle class and assigns it to the variable rect

# The values 5 and 3 are passed as arguments to the constructor to set the width and height of the rectangle instance.
print(rect.width)   #his line prints the value of the width attribute of the rect object. Since you created the rect object with a width of 5, accessing rect.width will give you the value 5.

SyntaxError: invalid syntax (3881783334.py, line 1)